lazydocs
pytest
pylint
pytest-cov>=2.11.1
pytest-html>=3.1.1
pytest-metadata>=1.11.0
pytest-dependency
yamllint
pre-commit>=2.20.0
pylint-pydantic>=0.1.4
mypy>=0.971
tox>=3.25.1
types-PyYAML
types-paramiko
types-requests
