---
name: Run benchmarks manually
on:
  workflow_dispatch:
  workflow_call:

jobs:
  benchmarks:
    name: Benchmark ANTA for Python 3.12
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.12"
      - name: Install dependencies
        run: pip install . --group dev
      - name: Run benchmarks
        uses: CodSpeedHQ/action@v4
        with:
          token: ${{ secrets.CODSPEED_TOKEN }}
          mode: simulation
          run: pytest --codspeed --no-cov --log-cli-level INFO tests/benchmark
